<html>
  <head>
    <title>Gossip number <%=id%></title>
  </head>
    <body>
    <h1>Unbelievable gossip <%=id%></h1>
    <% gossips.each do |gossip| %>
      <p>
        <h2> Here comes the gossip number <%= id %></h2>
        <p><strong>Author : </strong><%= gossip.author %></p>
        <p><strong>Gossip content : </strong><%= gossip.content %></p>
        <p>################################################</p>
        You can <a href="<%= id %>/edit">modify the gossip.</a>
      </p>
    <% end %>
    <p><a href="/">Back to homepage.</a></p>
    </body>
</html>